[Unit]
Description=Gmail Printer Timer
Requires=remote_printer.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
